#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.playField {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 100%;
  background: #575757;
  min-width: 500px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  box-sizing:border-box;
  border: 3px solid #bbb;
}

.playField div {
  flex: 0 0 calc(50% - 10px);
  cursor: pointer;
  transition: all .3s;
}

.playField div:not(.hoverable) {
  cursor: not-allowed;
}

.playField div:not(.hoverable):not(.hovered) {
  opacity: 0.5;
}

.playField div.hovered,
.playField div.clicked {
  transition: all .3s;
  animation: 1s linear changeColor infinite;
}

#red {
  --color: red;
  background-color: color-mix(in srgb, var(--color), black);
  
}

#red.hoverable:hover {
  box-shadow: red 0 0 15px;
  background-color: red;
}

#red.hoverable:active {
  background-color: red;
}

#blue {
  --color: blue;
  background-color: color-mix(in srgb, var(--color), black);
}

#blue.hoverable:hover {
  background-color: blue;
  box-shadow: blue 0 0 15px;
}

#blue.hoverable:active {
  background-color: blue;
}

#green {
  --color: green;
  background-color: color-mix(in srgb, var(--color), black);
  margin-top: 10px;
}

#green.hoverable:hover {
  box-shadow: green 0 0 15px;
  background-color: green;
}

#green.hoverable:active {
  background-color: green;
}

#yellow {
  --color: yellow;
  background-color: color-mix(in srgb, var(--color), black);
  margin-top: 10px;
}

#yellow.hoverable:hover {
  box-shadow: yellow 0 0 15px;
  background-color: #ffff00;
}

#yellow.hoverable:active {
  background-color: yellow;
}

@keyframes changeColor {
  0% {
    background-color: color-mix(in srgb, var(--color), black);
    box-shadow: none;
  }

  25% {
    background-color: var(--color);
    box-shadow: var(--color) 0 0 20px;
  }

  75% {
    background-color: var(--color);
    box-shadow: var(--color) 0 0 20px;
  }

  100% {
    background-color: color-mix(in srgb, var(--color), black);
    box-shadow: none;
  }
}
