#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.playField {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 100%;
  background: #575757;
  min-width: 500px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.playField div {
  flex: 0 0 calc(50% - 10px);
  cursor: pointer;
  transition: all .3s;
}

.red {
  background-color: #d30000;
}

.red.hoverable:hover {
  box-shadow: red 0 0 15px;
}

.red.hoverable:active {
  background-color: red;
}

.red.hovered {
  background-color: red;
  box-shadow: red 0 0 20px;
}

.blue {
  background-color: #0000c9;
}

.blue.hoverable:hover {
  box-shadow: blue 0 0 15px;
}

.blue.hoverable:active {
  background-color: blue;
}

.blue.hovered {
  background-color: blue;
}

.green {
  background-color: #006000;
  margin-top: 10px;
}

.green.hoverable:hover {
  box-shadow: green 0 0 15px;
}

.green.hoverable:active {
  background-color: green;
}

.green.hovered {
  background-color: green;
  box-shadow: green 0 0 20px;
}

.yellow {
  background-color: #b4b400;
  margin-top: 10px;
}

.yellow.hoverable:hover {
  box-shadow: yellow 0 0 15px;
}

.yellow.hoverable:active {
  background-color: yellow;
}

.yellow.hovered {
  background-color: yellow;
  box-shadow: yellow 0 0 20px;
}
